* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    color: white;
    background: #000;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    position: fixed;
    width: 100%;
    top: 0;
    background: rgba(0,0,0,0.9);
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ffcc00;
    font-weight: bold;
}

.nav-profile-pic {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

/* Search */
.search-container input {
    width: 200px;
    padding: 6px 12px;
    border-radius: 20px;
    border: none;
    outline: none;
}

/* Hamburger */
.hamburger {
    font-size: 28px;
    cursor: pointer;
    color: #ffcc00;
}

/* Menu */
.nav-menu {
    position: absolute;
    top: 70px;
    right: 40px;
    width: 220px;
    background: #111;
    padding: 20px;
    border-radius: 10px;
    display: none;
}

.nav-menu.active {
    display: block;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    color: #ffcc00;
}

/* Hero */
.hero {
    padding-top: 150px;
    text-align: center;
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
